@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/


/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */
/* -- LISTS -- */

ul{
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #585858;
	margin-bottom: 2em;
	
}

li {
  list-style: url("../img/list-style.png");
  line-height: 1.4em;
}



/* -- TYPOGRAPHY -- */ 

html{
		font-size:1rem;	
	}

h1 {
  font: 2.2rem/1.1em 'Overpass', sans-serif;
  color: #E6881C;
}

h2 {
  font: 1.8rem 'Overpass', sans-serif;
  color: #1C1C77;
  margin-top: 1em;
	margin-bottom: 0;

}

p {
  font: 1.1rem/1.7em 'Open Sans', sans-serif;
  color: #585858;
}

header div p {
	font-size: .8rem;
	line-height: .8em;
}

header div p:last-child{
	padding-top: 1em;
	padding-bottom: 1em;
}

a{
	text-decoration: none;
	color:#1C1C77;
	font-family: 'Overpass', sans-serif;
	
}

a:hover {
	color: #597EC7;
}


@media only screen and (min-width: 768px){
	p{
		font-size: 1rem;
		line-height: 1.7em;
		margin-bottom: 1.4em;
		}
	h1{
	font-size: 2.7rem;
	}
    h2{
        font-size: 2rem;
    }

}


@media only screen and (min-width: 1024px){
	html{
		font-size: .9rem;
	}
	p{
		line-height: 1.8em;
		margin-top: 0;
	}
	h1{
	font-size: 3.4rem;
}
	h2{
		font-size: 2rem;
	}
}

/*--------------------------------------------------------------
5.0 - OBJECTS 
-------------------------------------------------------------- */

/* -- FRAMEWORK -- */ 

.wrapper {
	width: 90%;
}

@media only screen and (min-width: 768px){
	.wrapper {
		width: 70%;
	}
}

@media only screen and (min-width: 1024px){
	.wrapper {
		width: 50%;
	}
}

.col-lg-6{
	margin-bottom: 0;
}

/*--------------------------------------------------------------
6.0 - Components
-------------------------------------------------------------- */

/* -- BUTTONS -- */

/*--------------------------------------------------------------
7.0 - Utilities
-------------------------------------------------------------- */

@media only screen and (max-width:500px) {
	.hide-sm {
		display: none;
	}
}




