@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/


/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */
/* -- LISTS -- */

ul{
	padding: none;
	font-family: 'Open Sans', sans-serif;
	color: #585858;
	
}

li {
	padding-bottom: 1.3em;
	font-weight: 600;
	list-style-image:url("../img/list-style.png");
	font-size: 1.3rem;
	line-height: 1.4em;
}



/* -- TYPOGRAPHY -- */ 

p{
	font-size: 1.3rem;
	line-height: 1.7em;
	font-family: 'Open Sans', sans-serif;
	color: #585858;
}

header p{
	color: #FFF;
}

h1{
	font-size: 2.9rem;
	font-family: 'Overpass', sans-serif;
	line-height: 1.1em;
	color: #FFF;
}

h2{
	font-family: 'Overpass', sans-serif;
	font-size: 2.6rem;
	color:#E000D8;
	margin-top: 3em;
}

span{
	color:#E000D8;
}



@media only screen and (min-width: 768px){
	html{
		font-size:1rem;
		
	}
	p{
		line-height: 1.8em;	
		}
	h1{
	font-size: 3.3rem;
	}
    h2{
        font-size: 2.4rem;
    }

}


@media only screen and (min-width: 1024px){
	html{
		font-size: .9rem;
	}
	p{
		line-height: 1.8em;
	}
	h1{
	font-size: 3.7rem;
}
	h2{
		font-size: 2.8rem;
	}
}

/*--------------------------------------------------------------
5.0 - OBJECTS 
-------------------------------------------------------------- */

/* -- FRAMEWORK -- */ 

.wrapper {
	width: 90%;
}


@media only screen and (min-width: 768px){
	.wrapper {
		width: 60%;
	}
}

@media only screen and (min-width: 1024px){
	.wrapper {
		width: 50%;
	}
}

#hero {
	height: 100%;
	background-image: url("../img/hero.jpg");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
	padding-top: 4em;
	padding-bottom: 5em;
}

/*--------------------------------------------------------------
6.0 - Components
-------------------------------------------------------------- */

/* -- BUTTONS -- */

a {
	text-decoration: none;
	color:#1C1C77;
	font-weight: 800;
	font-family: 'Overpass', sans-serif;
}






